/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Fleet implementation : © Dan Marcus <bga.marcuda@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fleet.css
 *
 * fleet stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (fleet_fleet.tpl), and to HTML elements you create dynamically
    (in fleet.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

.flt_auction {
    position: relative;
    width: 720px;
    margin: auto;
}

.flt_boat {
    position: absolute;
    width: 100px;
    height: 143px;
    background-image: url('img/boats.png');
    background-size: 800% 100%;
    z-index: 1;
}

.flt_license {
    position: absolute;
    width: 175px;
    height: 122px;
    background-image: url('img/licenses.png');
    background-size: 500% 200%;
}

.flt_tooltip_boat {
    width: 200px;
    height: 286px;
    background-image: url('img/boats.png');
    background-size: 800% 100%;
    border: 2px solid black;
    border-radius: 19px;
}

.flt_tooltip_license {
    width: 350px;
    height: 244px;
    background-image: url('img/licenses.png');
    background-size: 500% 200%;
    border: 2px solid black;
    border-radius: 21px;
}

.flt_cardtooltip {
    text-align: left;
    max-width: 360px
}

[class^="flt_icon_"] {
    background-image: url('img/icons.png');
}

[class^="flt_icon_card"] {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 4px;
}

.flt_icon_first {
    position: relative;
    display: none;
    width: 39px;
    height: 28px;
    background-position: 0px 0px;
    margin-right: 5px;
    margin-left: 10px;
}

.flt_icon_cardboat {
    width: 21px;
    height: 30px;
    background-position: -39px 0px;
    margin-right: 11px;
}

.flt_icon_cardlicense {
    width: 43px;
    height: 30px;
    background-position: -60px 0px;
}

.flt_icon_fish {
    width: 30px;
    height: 30px;
    background-position: -103px -30px;
    position: absolute;
    z-index: 99;
}

#fishicon {
    position: relative;
    margin-right: 7px;
}

.flt_icon_coin {
    width: 24px;
    height: 18px;
    background-position: -133px 0px;
}

.flt_icon_hand {
    width: 16px;
    height: 16px;
    background-position: -157px 0px;
}

.flt_disabled {
    opacity: 0.5 ! important;
}

.flt_auction_done {
    display: none ! important;
}

.flt_player_table {
    position: relative;
    flex: 1;
}

.flt_captain {
    background-position: -700px 0px;
    top: 22px;
    display: none;
}

.flt_fish_boat {
    width: 100px;
    height: 30px;
    top: 113px;
}

.flt_fish_player {
    display: inline-block;
    position: relative;
    top: -5px;
    width: 160px;
    height: 30px;
    padding: 2px;
    margin-left: 15px;
    background-color: #8096e6;
    border: 2px solid #0037ff;
    border-radius: 5px;
}

.flt_fish_selected {
    /*TODO: make this more interesting*/
    border: 2px solid red ! important;
    border-radius: 25%;
}

.flt_fish_selectable {
    /*TODO: make this more interesting*/
    border: 2px solid cyan ! important;
    border-radius: 40%;
}

.flt_board {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.flt_board > .imgtext {
    margin-right: 3px;
}

.flt_board > span {
    margin-right: 5px;
}

.flt_board > div {
    display: inline-block;
}

.flt_first_player {
    display: inline-block ! important;
}

.flt_selectable {
    border: 2px solid blue ! important;
    border-radius: 12px;
}

.flt_license_zone {
    width: 175px;
    display: none;
    margin-right: 9px;
    margin-bottom: 9px;
}

.flt_license_zone > div {
    border: 2px solid black;
    border-radius: 8%;
}

.flt_score_table {
    background-color: transparent
}

.flt_score_table table {
    margin: auto;
}

.flt_score_table th {
    border-bottom: 1px solid black;
    padding: 10px 8px;
    text-align: center;
    font-weight: bold;
}

.flt_score_table td {
    border-bottom: 1px solid black;
    padding: 6px 8px;
    text-align: center;
}

.flt_score_table tbody tr:hover td {
 color: #009;
}

.flt_score_table tbody tr:hover th {
 color: #009;
}

.flt_counter {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.flt_counter span {
    position: relative;
    top: 6px;
    margin-left: 3px;
    width: 18px;
    text-align: right;
}

.flt_zone_label {
    position: relative;
    text-shadow: 2px 0 2px #fff,
        0 -2px 2px #fff,
        0 2px 2px #fff,
        -2px 0 2px #fff;
    font-weight: bold;
    top: 10px;
    left: 145px;
    display: none;
}
