/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * fleet implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fleet.css
 *
 * fleet stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (fleet_fleet.tpl), and to HTML elements you create dynamically
    (in fleet.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

.flt_auction {
    width: 740px;
}

.flt_boat {
    position: absolute;
    width: 100px;
    height: 143px;
    background-image: url('img/boats.png');
}

.flt_license {
    position: absolute;
    width: 180px;
    height: 125px;
    background-image: url('img/licenses.png');
}

.flt_icon_boat {
    width: 21px;
    height: 30px;
    background-image: url('img/boaticon.png');
}

.flt_icon_fish {
    width: 30px;
    height: 30px;
    background-image: url('img/cube.png');
}

.flt_icon_license {
    width: 43px;
    height: 30px;
    background-image: url('img/licenseicon.png');
}

.flt_disabled {
    opacity: 0.5 ! important;
}

.flt_auction_done {
    display: none ! important;
}

.flt_player_table {
    width: 48%;
    position: relative;
}

.flt_captain {
    background-position: -600px 0px;
    top: 22px;
    display: none;
}

.flt_fish {
    width: 100px;
    height: 30px;
    top: 113px;
}
